{% extends "page.html.twig" %} 




{% block javascripts %}
  <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
  <script>tinymce.init({ selector: 'textarea' });</script>
{% endblock javascripts %}


{% block navbar %} 
{% for principle in principlesInMenu %}
              {% if principle.title == title %}
                <a class="dropdown-item nav-link " href={{ path('editprinciples', {'title': principle.title}) }}>
                    <span class="navmenu">
                      {{principle.title}}
                    </span>
                </a>
              {% else %}
                <a class="dropdown-item nav-link navmenu" href={{ path('editprinciples', {'title': principle.title}) }}>
                  {{principle.title}}
                </a>
              {% endif %}
          {% endfor %}

{% endblock navbar %}

{% block content %}

<div class="container-fluid w-50" style="margin-top:2em;margin-bottom:2em">

  {% if form is defined %}

  
  {{ form_start(form) }} 
    
  {{ form_widget(form) }}

  {{ form_end(form) }}

    
  {% else %}
    
  {% endif %}




</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;Read the previous</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>


    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">Read the next&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>

{% endblock %}