<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--metadata for search engines-->
    <meta name="description" content= "{{ description }}" >
    <meta name="keywords" content= "{{ keywords }}" >
    <link rel="canonical" href= "{{ app.request.uri }}" >
    <title> {{ title|replace({' ':''}) }} </title>
    <link rel="shortcut icon" type="image/gif" href= "{{asset('img/phicon_favicon.gif')}}" >

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- custom CSS -->
    {% block css %}
        <link rel="stylesheet" href= {{asset('css/custombs.css')}}>
    {% endblock css %}

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    {% block javascripts %}{% endblock %}

        
</head>


<body>

{% block navbar %} 
    {# navbar html should be placed in this block #}
    <nav class="navbar sticky-top navbar-expand-lg navbar-principles">
        <a class="navbar-brand" href={{path('view_principles')}}>Read the Principles</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href={{path('authenticate_user')}}>Login <span class="sr-only">login</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={{path('logout')}}>Logout<span class="sr-only">logout</span></a>
            </li>
          </ul>
        </div>
      </nav>


{% endblock navbar %}

<div class="container-fluid body-principles" style="margin-top:2em;margin-bottom:2em">

    {% block content %}
        {# html for the page content should be placed in this block #}
    {% endblock %}

</div>

{% block footer %}
    <footer class="footer text-center">
        <div class="container">
            <div class="text-muted">
                Author: Nothing Nobody
            </div>
            <div>
                <a href={{path('website_share')}}>
                    Share the Principles
                </a>
                &vert;
                <a href={{path('view_download_principles')}}>
                    Download the Principles
                </a>
                &vert;
                <a href={{path('website_contact')}}>
                    Contact the Author
                </a>
                &vert;
                <a href={{path('website_terms')}}>
                    Website Terms Of Use
                </a>
            </div>
        </div>
    </footer>
{% endblock footer %}

</body>

</html>